{% extends "layout.html" %}
{% block title %}FieldEdge - Home{% endblock %}
{% block pagetitle %}
<div><p class="text-sm-left"><h5>Dashboard<h5></p></div>
{% endblock pagetitle %}

{% block content %}

<div class="row">
  <div class="col-sm-6"><h5 style="text-align:center">Water Level Monitor</h5></div>
  <h6 style="text-align:center">{{ dis }} mm</h6>
    <table>
      <tr>
        <td id="tank">
          <table id="tanktable" name="table" height=20px style="border-spacing: 50px;">
            <tr>
              <td>
                <div class="empty-line"></div>
                <div class="fill-line"></div>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  <hr></hr>
  <div class="row">
      <form method="POST" action="/shutdown">
        <button class="btn btn-danger" type="submit">Shutdown/Reboot</button>
      </form>
  </div>
</div>
{% endblock %}
