{% extends "layout.html" %}
{% block title %}FieldEdge - Home{% endblock %}
{% block pagetitle %}
<div><p class="text-sm-left"><h5>Dashboard<h5></p></div>
{% endblock pagetitle %}

{% block content %}

<!-- <style>
.empty-line {
  border-left: 180px solid rgb(255, 255, 255);
  height:{{ white_line }}px;
}
.fill-line {border-left: 180px solid #28a1f7;
  height:{{ blue_line }}px;
}
</style> -->

<div class="row">
  <div class="col-sm-6"><h5 style="text-align:center">Water Trough Monitor</h5></div>
  <h6 style="text-align:center">Water level: [{{ distance }} mm] || Water temp: [{{ temp }} C]</h6>
    <table>
      <tr>
        <td id="tank">
          <table id="tanktable" name="table" height=20px style="border-spacing: 50px;">
            <tr>
              <td>
                <div class="empty-line">{{ empty_fill_line }}</div>
                <div class="fill-line">{{ fill_line }}</div>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  <hr></hr>
  <div class="row">
      <form method="POST" action="/shutdown">
        <button class="btn btn-danger" type="submit">Shutdown/Reboot</button>
      </form>
  </div>
</div>
{% endblock %}
