<!DOCTYPE html>
<html>
  <head>
    {%- block head %}
    <title>{% block title %}{{title|default}}{% endblock title %}</title>
    {%- block metas %}
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% endblock metas -%}

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/site.css') }}"/>

    {%- block scripts %}
    <script type="text/javascript">
      setTimeout(function(){location.reload();},2000);
    </script>
    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
    {% endblock scripts -%}
    {%- endblock head -%}
  </head>
  <body>
    {% set navigation_bar = [
      ('/home', 'home', 'Home'),
      ('/metrics', 'metrics', 'Metrics'),
      ('/logs', 'logs', 'Logs')
    ] -%}
    {% set active_page = active_page|default('home') -%}
    {% block navbar %}
    <div class="wrapper">
      <nav class="navbar navbar-expand-sm navbar-dark bg-dark nav-header">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">
            <div><img src="{{ url_for('static', filename='img/lsbu-logo-h-white.png') }}" alt="LSBU" class="logo d-inline-block align-text-middle"></div>
          </a>
          <ul class="navbar-nav">
            <li class="nav-item dropdown" id="navDropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                &#9776;
              </a>
              <ul class="dropdown-menu dropdown-menu-dark dropdown-menu-end" aria-labelledby="navbarDarkDropdownMenuLink">
                {% for href, id, caption in navigation_bar %}
                  <li><a class="dropdown-item{{' active' if id == active_page else ''}}" href="{{ href|e }}" aria-current="{{'true' if id == active_page else 'false'}}">{{ caption|e }}</a></li>
                {% endfor %}
              </ul>
            </li>
          </ul>
        </div>
      </nav>
      {% endblock navbar %}
      <div class="page-header">
        <h1><small>{% block pagetitle %}{% endblock pagetitle%}</small></h1>
      </div>
      <main role="main" class="container-fluid content">
        <div>{% block content %}{% endblock content %}</div>
        <script src="{{ url_for('static', filename='js/enable-tooltips.js') }}"></script>
      </main>
      <footer class="footer">
        <div class="container">
          <div class="row">
            <div class="col-7">
              <div class="copyright">
                &copy; London South Bank University
                <script src="{{ url_for('static', filename='js/copyrightdate.js') }}"></script>
              </div>
            </div>
            <div class="col-5">
              <div class="time">
                <script src="{{ url_for('static', filename='js/currenttime.js') }}"></script>
              </div>
            </div>
          </div>
        </div>
      </footer>
    </div>
  </body>
</html>