{% extends "layout.html" %}
{% block title %}
  FieldEdge - Shutdown
{% endblock %}

{% block content %}
  <div>
    <div><p><h5>Do you want to shut down the Device?<h5></p></div>
    <div class="row">
      <form method="POST" action="/confirmshutdown">
        <div class="d-grid gap-3 d-md-block">
          <button class="btn btn-danger" type="submit" name="shutdownType" value="shutdown">Shutdown</button>
          <button class="btn btn-warning" type="submit" name="shutdownType" value="reboot">Reboot</button>
          <button class="btn btn-secondary" type="submit" name="shutdownType" value="cancel">Cancel</button>
        </div>
      </form>
    </div>
    {% endif %}
  </div>
{% endblock %}